spring:
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url: "jdbc:mysql://localhost:3306/rm_db?allowPublicKeyRetrieval=true&useSSL=false&createDatabaseIfNotExist=true&serverTimezone=UTC"
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    open-in-view: off
  sql:
    init:
      mode: never
  profiles:
    main:
      logging:
        level:
          root: INFO
server:
  port: 3000

application:
  security:
    jwt:
      secret-key: QStGaFp2Z294a3pOWSszb2I1OTdoVXRQNGY2SE41aFVORDV1SXBSbTZrclRFRU1sTmRuK3hoWWJJaVIxMzlvYw==
      expiration: 86400000 # 1 day
      refresh-token:
        expiration: 604800000 # 7 days
logging:
  level:
    org.springframework.security: DEBUG
springdoc:
  api-docs:
    path: /api-docs